
:root {
    --default-font: "Roboto",  system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --heading-font: "Raleway",  sans-serif;
    --nav-font: "Poppins",  sans-serif;
  }
  
  /* Global Colors - The following color variables are used throughout the website. Updating them here will change the color scheme of the entire website */
  :root { 
    --background-color: #ffffff;
    --default-color: #272829; 
    --heading-color: #050d18; 
    --accent-color: #149ddd; 
    --surface-color: #ffffff; 
    --contrast-color: #ffffff; 
  }
  
  /* Nav Menu Colors - The following color variables are used specifically for the navigation menu. They are separate from the global colors to allow for more customization options */
  :root {
    --nav-color: #a8a9b4;
    --nav-hover-color: #ffffff;
    --nav-mobile-background-color: #040b14; 
    --nav-dropdown-background-color: #040b14; 
    --nav-dropdown-color: #a8a9b4;
    --nav-dropdown-hover-color: #ffffff; 
  }
/* ============================== */
  body {
    color: var(--default-color);
    background-color: var(--background-color);
    font-family: var(--default-font);
  }
  
  a {
    color: var(--accent-color);
    text-decoration: none;
    transition: 0.3s;
  }
  
  a:hover {
    color: color-mix(in srgb, var(--accent-color), transparent 25%);
    text-decoration: none;
  }
  
/* ==================================  header==================*/
  .header {
    color: #ffffff;
    background-color: #040b14;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 15px;
    width: 290px;
    height: 100%;
    transition: all ease-in-out 0.3s;
    overflow-y: auto;
    z-index: 997;
    border-right: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  
  .header .profile-img img {
    margin: 15px auto;
    display: block;
    width: 120px;
    border: 8px solid color-mix(in srgb, var(--default-color), transparent 85%);
    border-radius: 50%;
  }
  
  .header .logo {
    line-height: 1;
    margin-bottom: 15px;
  }
  
  .header .logo img {
    max-height: 32px;
    margin-right: 8px;
  }
  
  .header .logo h1 {
    font-size: 24px;
    margin: 0;
    font-weight: 700;
    color: #ffffff;
  }
  
  .header .social-links {
    margin: 0 0 20px 0;
  }
  
  .header .social-links a {
    font-size: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: color-mix(in srgb, #ffffff, transparent 90%);
    color: #ffffff;
    margin: 0 2px;
    border-radius: 50%;
    text-align: center;
    width: 40px;
    height: 40px;
    transition: 0.3s;
  }

  @media (min-width: 1200px) {

  .header~main,
  .header~#footer {
    margin-left: 300px;
  }
}

@media (max-width: 1199px) {
  .header {
    left: -100%;
  }
}
  /* ==============menu============== */
  .navmenu {
    padding: 0;
    z-index: 9997;
  }
  
  .navmenu ul {
    list-style: none;
    padding: 0 0 20px 0;
    margin: 0;
  }
  
  .navmenu a,
  .navmenu a:focus {
    color: var(--nav-color);
    padding: 15px 10px;
    font-family: var(--nav-font);
    font-size: 20px;
    font-weight: 400;
    display: flex;
    align-items: center;
    white-space: nowrap;
    transition: 0.3s;
    width: 100%;
    text-decoration: none;
  }

.navmenu a:hover,
.navmenu .active,
.navmenu .active:focus {
  color: var(--nav-hover-color);
}

/*--------------------------------------------------------------
# Global Sections
--------------------------------------------------------------*/
section,
.section {
  color: #ffffff;
  background-color:#040b14;
  overflow: clip;
  width: 100%;
  height: 100%;
}

.section-title {
  padding-bottom: 60px;
  position: relative;
}

.section-title h2 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.section-title h2:after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: var(--accent-color);
  left: 0;
  bottom: 0;
}

.section-title p {
  margin-bottom: 0;
}


/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: left;
  background-color:#040b14  ;
  height: 100%;
  width: 100%;
  text-align: left;
  color: #ffffff;
  top: 0;
  left: 0;
  bottom: 0;
}

.hero img {
  position: absolute;
  inset: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  margin-top: 0;
  margin-right: 0;
}

.hero:before {
  content: "";
  background: color-mix(in srgb, #040b14, transparent 70%);
  position: absolute;
  inset: 0;
  z-index: 2;
  width: 100%;
  margin: 0;
}

.hero .container {
  position: relative;
  z-index: 3;
  margin-left: 40px;
}

.hero h2 {
  margin: 0;
  font-size: 64px;
  font-weight: 700;
}

.hero p {
  font-size: 26px;

}

.hero p span {
  letter-spacing: 1px;
  border-bottom: 2px solid var(--accent-color);
}
